/* =========== Google Fonts ============ */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

/* =============== Globals ============== */
* {
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

  
  * {
    box-sizing: border-box;
  }
  
  .bg-img {
    /* The image used */
    background-image:  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../resource/login.jpg");
   
  
    min-height: 720px;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  .h1{
    text-align: center;
    color: #327028;

  }
  /* Add styles to the form container */
  .container {
    position: absolute;
    border-radius: 10px;
 
    margin: 150px 550px;
    
    width: 400px;
    padding: 16px;
    background-color: #BFCC7C;
  }
  
  .container h1, h3{
    text-align: center;
    color: #327028;

  }
 
  table{
    margin-left: auto; 
    margin-right: auto;
    width:600px;
    height:250px;
    
  }




  input[type=submit] {
    background-color: #327028;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    border-radius :10px;
    width: 100%;
    font-size: 16px;
   
  }
  
  input[type=submit]:hover {
    background-color: #333;
  }


  
  .block {
    display: block;
    width: 100%;
    border: none;
    background-color: #04AA6D;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    }




