
*{
    margin: 0px;
    padding: 0px;
   }
   body{
    font-family: arial;
   }
   .main{
   
    margin: 2%;
   }
   
   .card{
        width: 15%;
        display: inline-block;
        box-shadow: 2px 2px 20px black;
        border-radius: 5px; 
        margin: 2.3%;
       }
   
   .image img{
     width: 100%;
     height : 250px;
     border-top-right-radius: 5px;
     border-top-left-radius: 5px;
    }
   
    .imaged img{
     width: 100%;
     height : 170px;
     border-top-right-radius: 5px;
     border-top-left-radius: 5px;
    }
   
   .title{
    
     text-align: center;
     padding: 10px;
     
    }
   
   h1{
     font-size: 20px;
    }
   
   