/* RESET & BASIC STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
:root {
    --white: #fff;
    --darkblue: #1b4965;
  }
  
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  a {
    color: currentColor;
  }
  
  body {
    margin: 50px 0 150px;
  }
  
  .container {
    max-width: 1000px;
    padding: 0 15px;
    margin: 0 auto;
    text-align: center;
  }
  
  h1 {
    font-size: 1.5em;
    margin-bottom: 5px;
  }
  
  /* TABLE STYLES
  ––––––––––––––––––––––––––––––––––––––––––––*/
  .table-clickable {
    text-align: left;
    border-collapse: collapse;
    border-left: 1px solid #003D25;
    border-right: 1px solid #003D25;
    margin: 20px auto;
  }
  
  .table-clickable th,
  .table-clickable tbody a {
    padding: 20px 20px 20px 30px;
  }
  
  .table-clickable th {
    color: var(--white);
    background: #003D25;
  }
  
  .table-clickable tbody a {
    display: block;
    text-decoration: none;
    transition: all 0.25s ease-out;
  }
  
  .table-clickable tbody tr:not(:first-child) td a {
    border-top: 1px solid #003D25;
  }
  
  .table-clickable tbody tr:last-child td a {
    border-bottom: 1px solid #003D25;
  }
  
  .table-clickable tbody tr:hover a {
    color: var(--white);
    background: #003D25;
  }
  
  /* FOOTER STYLES
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .page-footer {
    position: fixed;
    right: 0;
    bottom: 50px;
    display: flex;
    align-items: center;
    padding: 5px;
    z-index: 1;
    background: var(--white);
  }
  
  .page-footer a {
    display: flex;
    margin-left: 4px;
  }