/* =========== Google Fonts ============ */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

/* =============== Globals ============== */
* {
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --green: #003D25;
  --white: #fff;
  --yellow: #BFCC7C;
  --gray: #f5f5f5;
  --black1: #222;
  --black2: #999;
}




/* update_form_styles.css */

/* Style for the update form container */
.update-form-container {
    max-width: 600px;
    margin-top: 50px;
    margin-left: 450px;
    padding: 20px;
    background-color: #d6d4cb;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Style for form input fields */
.update-form-container input[type="text"],
.update-form-container textarea,
.update-form-container select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

/* Style for the submit button */
.update-form-container button[type="submit"] {
    background-color: #003D25;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.update-form-container button[type="submit"]:hover {
    background-color: #047749;
}
