
input[type="text"], textarea , select {
	box-sizing: border-box;
	width: 400px;
	height: initial;
	padding: 8px 5px;
	border: 1px solid #9a9a9a;
	border-radius: 4px;
}
input[type="date"]{
	box-sizing: border-box;
	width: 300px;
	height: initial;
	padding: 8px 5px;
	border: 1px solid #9a9a9a;
	border-radius: 4px;
}

input[type="checkbox"] {
	width: auto;
	vertical-align: text-bottom;
}

textarea {
	width: 300px;
}

select {
	display: initial;
	height: 30px;
	padding: 2px 5px;
}

button, input[type=submit], input[type=button] {
	padding: 8px 20px;
	font-size: 1em;
	cursor: pointer;
	border-radius: 25px;
	color: #fff;
	background-color: #003D25;
	border-color: #fff #fff #fff;
}

input[type=submit]:hover {
	background-color: #003D25;
}

::placeholder {
	color: #bdbfc4;
}

label {
	display: block;
	color: #565656;
}
.container {
    position: absolute;
    border-radius: 10px;
    margin: 50px 300px;
    max-width: 800px;
    padding: 16px;
    background-color: #BFCC7C;
  }
  input[type="radio"] {
    vertical-align: middle;
}

.container-left {
    margin-left:100px;

  }