body {margin:0;}
.navbar {
  overflow: hidden;
  background-color: #196619;
  position: fixed;
  top: 0;
  width: 100%;
  height:60px;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: #cccc00;
  color: black;
}

.main {
  padding: 16px;
  margin-top: 30px;
  height: 1500px; /* Used in this example to enable scrolling */
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(253, 247, 247);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: inline; /* Change display to inline */
}

.dropdown-content a:hover {
  background-color: #7a7676;
}

.dropdown:hover .dropdown-content {
  display: contents;
}
.cart-icon {
  position: absolute;
  right: 10px; /* Adjust as needed */

}
/* Dropdown Content */
.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 250px;
    border: 1px solid rgba(0,0,0,.125);
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
    z-index: 1000;
}

.dropdown-menu a {
    color: #333;
    display: block;
    padding: 10px 15px;
    text-decoration: none;
}

.dropdown-menu a:hover {
    background-color: #f8f9fa;
}

.dropdown-menu .cart-detail {
    padding: 10px;
    border-bottom: 1px solid #dee2e6;
}

.dropdown-menu .cart-detail-img img {
    width: 100px; /* Adjust image size as needed */
    height: auto; /* Maintain aspect ratio */
}

.dropdown-menu .cart-detail-product p {
    margin: 0;
    font-weight: bold;
}

.dropdown-menu .total-header-section {
    padding: 10px;
    border-top: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
}

.dropdown-menu .checkout .btn {
    margin-top: 10px;
}
