      /* =========== Google Fonts ============ */
      @import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

      /* =============== Globals ============== */
      * {
        font-family: "Ubuntu", sans-serif;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      
      :root {
        --green: #003D25;
        --white: #fff;
        --yellow: #BFCC7C;
        --gray: #f5f5f5;
        --black1: #222;
        --black2: #999;
      }
      
      body {
        min-height: 75vh;
        overflow-x: hidden;
        background: var(--yellow);
      }
      
      .container {
        position: relative;
        width: 800px;
        background-color: #fff;
        border-radius: 20px;
      }
      #form{
          
          height:325px;
          width:800px;
          margin-left: 0px;
          margin-top: 200px;
          opacity:0.7;
          border-radius: 20px;
      }
      .title{
       
       text-align: center;
       padding: 10px;
       
       
      }
      
      
      #first-group{
          border:none;
          width:500px;
          margin-top: 20px;
          margin-left:50px;
          position: absolute;
      
      }
      
      #second-group{
          border:none;
          width:400px;
          margin-top: 20px;
          margin-left:550px;
      }
      
      #third-group{
        border:none;
          width:500px;
          margin-top: 20px;
          margin-left:50px;
          position: absolute;
      }
      
      #forth-group{
        border:none;
          width:500px;
          margin-top: 20px;
          margin-left:350px;
          position: absolute;
      }
      
      #fifth-group{
          border:none;
          width:500px;
          margin-top: 20px;
          margin-left:550px;
          position: absolute;
      }
      
      #sixth-group{
        margin-top: 105px;
        margin-left:300px;
        position: absolute; 
      }
      
      .status {
          display: flex;
        }
      
        .number {
          margin-top: 15px;
          margin-left: 10px;
        }
      
        .number button {
          width: 50px;
          height: 50px;
          border: none;
          border-radius: 50%;
          background-color: #003D25;
          color: white;
          font-size: 30px;
          font-weight: 900;
          overflow: hidden;
        }
        .text{
          font-size: 20px;
          font-weight: bold;
          margin-left: 10px;
          margin-top: 25px;
          color: #555;
        
        }