 /* =========== Google Fonts ============ */
 @import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

 /* =============== Globals ============== */
 * {
   font-family: "Ubuntu", sans-serif;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }
 
 :root {
   --green: #003D25;
   --white: #fff;
   --yellow: #BFCC7C;
   --gray: #f5f5f5;
   --black1: #222;
   --black2: #999;
 }
 
 body {
   min-height: 75vh;
   overflow-x: hidden;
   background: var(--yellow);
 }
 
 .container {
   position: relative;
   width: 800px;
   height: 350px;
   background-color: #fff;
   border-radius: 20px;
   margin-top: 50px;
 }
 
 .title{
  
  text-align: left;
  padding: 10px;
  color: #003D25;
  
 }
 
 
 
 
 
 
 .status {
     display: flex;
   }
 
   .number {
     margin-top: 15px;
     margin-left: 10px;
   }
 
   .number button {
     width: 50px;
     height: 50px;
     border: none;
     border-radius: 50%;
     background-color: #003D25;
     color: white;
     font-size: 30px;
     font-weight: 900;
     overflow: hidden;
   }
   .text{
     font-size: 20px;
     font-weight: bold;
     margin-left: 10px;
     margin-top: 25px;
     color: #555;
   
   }
   
   .but button{
     border: none;
     padding: 15px 32px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     border-radius: 0;
     margin: 4px 2px;
     cursor: pointer;
     background-color: #003D25;
     color: white;
     font-size: 20px;
     font-weight: 900;
     overflow: hidden;
     justify-content: center;
 
     position: absolute;
     top: 85%;
     right: 5%;
     transform: translateY(-50%);   
   }
 
   .open-button {
   background-color: #555;
   color: white;
   padding: 16px 20px;
   border: none;
   cursor: pointer;
   opacity: 0.8;
   position: fixed;
   bottom: 23px;
   right: 28px;
   width: 280px;
 }
 
 /* Popup styling */
 .popup {
   display: none;
   position: fixed;
   z-index: 1;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   width: 80%;
   max-width: 750px;
   background-color: #fefefe;
   padding: 20px;
   border-radius: 10px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
 }
 
 .popup-content {
   text-align: center;
 }
 
 .close {
   color: #aaa;
   float: right;
   font-size: 28px;
   font-weight: bold;
   cursor: pointer;
 }
 
 .close:hover,
 .close:focus {
   color: black;
   text-decoration: none;
 }
 
 .container2 {
   position: relative;
   width: 800px;
   height: 150px;
   background-color: #fff;
   border-radius: 20px;
   margin-top: 100px;
   margin-left: 340px;
 }
 
 .title{
  
  text-align: left;
  padding: 10px;
  font-size: 20px;
  
 }