*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
    box-sizing:border-box;
}
body{
   
    color: #fff;
}
#headers{
    width: 100%;
    height: 100vh;
    background-image: url("images/gl_site_01.jpg");
    background-size: cover;
    background-position: initial;
    overflow: hidden;
    
    
     
}
.container{
    padding: 10px 10%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #eef0b9d4;
    width: 100%;
    padding: 10px;
    
    
}
.logo{
    width: 140px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color: rgb(128, 112, 13);
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #676364;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
.header-text{
    margin-top: 20%;
    font-size: 50px;
}
.header-text h1{
    font-size: 100px;
    margin-top: 20px;
}
.header-text h1 span{
    color: #eef0b9d4;
}

/*----education------*/
#Education{
    padding: 30px 0;
}
.head{
    font-size: 16px;
    color: rgb(128, 112, 13);
}